.page {
  background: #2a2c2f;
  max-width: 1280px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Inter", "Arial";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter", "Arial Black";
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Inter", "Arial Bold";
  font-style: normal;
  font-weight: 700;
}
