.cover__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  max-width: 360px;
  margin-top: 32px;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 16px 0;
  }
}
