.place__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  grid-area: place__paragraph;
  align-self: start;
  display: flex;
  box-sizing: content-box;
  margin-bottom: 26px;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
    padding-bottom: 73px;
  }
  .place__paragraph:first-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .place__paragraph {
    margin: 32px 16px 25px;
  }
  .place__paragraph:last-child {
    margin-top: 25px;
    padding-bottom: 50px;
  }
  .place__paragraph:first-child {
    margin-top: 32px;
    padding-bottom: 0;
  }
}
