.place__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  display: block;
  grid-area: place__paragraph;
  align-self: start;
  margin-top: 48px;
}
.place__paragraph:last-child {
  margin-top: 26px;
}
