.intro {
  display: flex;
  flex-direction: column;
  padding-left: 11.6%;
  max-width: 54%;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 4.7%;
    padding-top: 92px;
    max-width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 93.5%;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
    padding: 64px 16px 0;
  }
}
