.cover__background {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1184/740;
  overflow: hidden;
  min-height: fit-content;
}
