.place {
  margin: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}
.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}
@media screen and (max-width: 900px) {
  .place {
    column-gap: 28px;
    padding-bottom: 0;
    max-height: fit-content;
  }
}
@media screen and (max-width: 767px) {
  .place {
    row-gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .place {
    row-gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
}
