.intro__title {
  margin: 0;
  padding-bottom: 40px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}
@media screen and (max-width: 625px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 80%;
  }
}
